#global{
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("../image/Interieur-de-la-Mairie-d-Avignon-p.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar1 {
    position: relative;
    background-image: url("../image/Avatar_girl_face.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat;
    animation-fill-mode: both;
}

@keyframes moveavat {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dial1{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue1;
    animation-fill-mode: both;


}

@keyframes dialogue1 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}

#dial1 blockquote {
    position: absolute;
    opacity: 0;
    animation: textdefile 24s ease-in 0s infinite;
    overflow: hidden;


}


#dial1 blockquote:nth-child(2) {
    animation-delay: 6s;
}

#dial1 blockquote:nth-child(3) {
    animation-delay: 12s;
}

#dial1 blockquote:nth-child(4) {
    animation-delay: 18s;

}

@keyframes textdefile {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    21%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}

#global2{
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("../image/ecoMusée.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar2 {
    position: relative;
    background-image: url("../image/Avatar_girl_face.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat2;
    animation-fill-mode: both;
}

@keyframes moveavat2 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dial2{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue2;
    animation-fill-mode: both;


}

@keyframes dialogue2 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}

#dial2 blockquote {
    position: absolute;
    opacity: 0;
    animation: textdefile2 24s ease-in 0s infinite;
    overflow: hidden;


}


#dial2 blockquote:nth-child(2) {
    animation-delay: 6s;
}

#dial2 blockquote:nth-child(3) {
    animation-delay: 12s;
}

#dial2 blockquote:nth-child(4) {
    animation-delay: 18s;

}

@keyframes textdefile2 {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    21%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}

#global3{
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("../image/mediatheque fourmies.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar3 {
    position: relative;
    background-image: url("../image/Avatar_girl_face.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat3;
    animation-fill-mode: both;
}

@keyframes moveavat3 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dial3{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue3;
    animation-fill-mode: both;


}

@keyframes dialogue3 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}

#dial3 blockquote {
    position: absolute;
    opacity: 0;
    animation: textdefile3 24s ease-in 0s infinite;
    overflow: hidden;


}


#dial3 blockquote:nth-child(2) {
    animation-delay: 6s;
}

#dial3 blockquote:nth-child(3) {
    animation-delay: 12s;
}

#dial3 blockquote:nth-child(4) {
    animation-delay: 18s;

}

@keyframes textdefile3 {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    21%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}

#global4{
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("../image/mediatheque fourmies.JPG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar4 {
    position: relative;
    background-image: url("../image/Avatar_girl_face.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat4;
    animation-fill-mode: both;
}

@keyframes moveavat4 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dial4{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue4;
    animation-fill-mode: both;


}

@keyframes dialogue4 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}

#dial4 blockquote {
    position: absolute;
    opacity: 0;
    animation: textdefile4 24s ease-in 0s infinite;
    overflow: hidden;


}


#dial4 blockquote:nth-child(2) {
    animation-delay: 6s;
}

#dial4 blockquote:nth-child(3) {
    animation-delay: 12s;
}

#dial4 blockquote:nth-child(4) {
    animation-delay: 18s;

}

@keyframes textdefile4 {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    21%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}

#global5{
    position: relative;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    background-image: url("../image/labo_fr3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar5 {
    position: relative;
    background-image: url("../image/Avatar_girl_face.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat5;
    animation-fill-mode: both;
}

@keyframes moveavat5 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dial5{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue5;
    animation-fill-mode: both;


}

@keyframes dialogue5 {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}

#dial5 blockquote {
    position: absolute;
    opacity: 0;
    animation: textdefile5 24s ease-in 0s infinite;
    overflow: hidden;


}


#dial5 blockquote:nth-child(2) {
    animation-delay: 6s;
}

#dial5 blockquote:nth-child(3) {
    animation-delay: 12s;
}

#dial5 blockquote:nth-child(4) {
    animation-delay: 18s;

}

@keyframes textdefile5 {
    0%   { opacity: 0; }
    4%   { opacity: 1; }
    21%  { opacity: 1; }
    25%  { opacity: 0; }
    100% { opacity: 0; }
}

.check {
    position: absolute;
    background:red;
    border-radius:50%;
    width:20px;
    height:20px;
    border:2px solid #679403;
}

#checkM1 {
    top: 47.6%;
    left: 52%;

}

#check0 {
    top: 42%;
    left: 52%;

}


#checkME2 {
    top: 47.6%;
    left: 65.7%;

}

#checkME3 {
    top: 85.6%;
    left: 65.7%;

}

#checkME4 {
    top: 85.6%;
    left: 68.6%;

}

#checkME5 {
    top: 97.3%;
    left: 68.6%;

}

#checkME6 {
    top: 97.3%;
    left: 61.4%;

}

#check2 {
    top: 93.3%;
    left: 61.4%;

}

#checkL2 {
    top: 47.6%;
    left: 37.9%;

}

#checkL3 {
    top: 71%;
    left: 37.9%;

}

#checkL4 {
    top: 71%;
    left: 46.7%;

}

#checkL5 {
    top: 88.6%;
    left: 46.7%;

}

#checkL6 {
    top: 88.6%;
    left: 51.2%;

}

#check1 {
    top: 82%;
    left: 51.2%;

}

#checkMDE6 {
    top: 88.6%;
    left: 18.9%;

}

#checkMDE7 {
    top: 94.3%;
    left: 18.9%;

}

#checkMDE8 {
    top: 94.3%;
    left: 14.5%;

}

#check4 {
    top: 90.7%;
    left: 14.5%;

}

#checkEM4 {
    top: 62.1%;
    left: 24.8%;

}

#check3 {
    top: 58%;
    left: 24.8%;

}

















