#global{
    position: relative;
    padding-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}

#avatar {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 402px;
    animation-duration: 3s;
    animation-name: moveavat;
    animation-fill-mode: both;
}

@keyframes moveavat {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 70%;


    }
}

#dialogue{
    background-color: black;
    color: white;
    position: relative;
    width: 500px;
    height: 100px;
    top: 402px;
    animation-duration: 4s;
    animation-name: dialogue;
    animation-fill-mode: both;


}

@keyframes dialogue {
    from {
        margin-left: 0%;

    }

    to {
        margin-left: 20%;


    }
}


/*partie départ to all*/




.dep_mairie{
        animation-duration: 2s;
        animation-name: movepersoM;
        animation-fill-mode: both;
    }


.dep_labo{
    animation-duration: 10s;
    animation-name: movepersoL;
    animation-fill-mode: both;
}


.dep_MDE{
    animation-duration: 10s;
    animation-name: movepersoMDE;
    animation-fill-mode: both;
}


.dep_mediatheque{
    animation-duration: 10s;
    animation-name: movepersoME;
    animation-fill-mode: both;
}


.dep_Ecomusée{
    animation-duration: 10s;
    animation-name: movepersoEM;
    animation-fill-mode: both;
}



/* anim mairie*/
@keyframes movepersoM {
    0% {
        left: 63%;
        top: 30%;
    }

    100% {
        left: 63%;
        top: 24.6%;
    }
}


/*anim L@BO*/

@keyframes movepersoL {
    0% {
        left: 63%;
        top: 30%;
    }

    15%{
        left: 41.5%;
        top: 30%;
    }

    30%{
        left: 41.5%;
        top: 59.2%;
    }

    45%{
        left: 55.4%;
        top: 59.2%;
    }

    60%{
        left: 55.4%;
        top: 80.2%;
    }

    75%{
        left: 62.3%;
        top: 80.2%;
    }

    100%{
        left: 62.3%;
        top: 75%;
    }

}



/*mouvement Maison de l'europe*/
@keyframes movepersoMDE {
    0% {
        left: 63%;
        top: 30%;
    }

    12.5%{
        left: 41.5%;
        top: 30%;
    }

    25%{
        left: 41.5%;
        top: 59.2%;
    }

    37.5%{
        left: 55.4%;
        top: 59.2%;
    }

    50%{
        left: 55.4%;
        top: 80.2%;
    }

    62.5%{
        left: 11.7%;
        top: 80.2%;
    }

    75% {
        left: 11.7%;
        top: 87.5%;
    }

    87.5% {
        left: 4.5%;
        top: 87.5%;
    }

    100% {
        left: 4.5%;
        top: 82%;
    }
}


/*mouvement médiatheque*/
@keyframes movepersoME {
    0% {
        left: 63%;
        top: 30%;
    }

    15%{
        left: 85%;
        top: 30%;
    }

    30%{
        left: 85%;
        top: 76%;
    }

    45%{
        left: 89.6%;
        top: 76%;
    }

    60%{
        left: 89.6%;
        top: 90%;
    }

    75%{
        left: 78%;
        top: 90%;
    }

    100%{
        left: 78%;
        top: 85%;
    }
}

/*anim Eco musée*/
@keyframes movepersoEM {
    0% {
        left: 63%;
        top: 30%;
    }

    25%{
        left: 41.5%;
        top: 30%;
    }

    50% {
        left: 41.5%;
        top: 48%;
    }

    75%{
        left: 20.7%;
        top: 48%;
    }

    100%{
        left: 20.7%;
        top: 43%;
    }

}


/* partie Ecomusée to all */





/* classe anim Ecomusée to Maison de l'europe*/

.EMToMDE {
    animation-duration: 10s;
    animation-name: movepersoEtoMDE;
    animation-fill-mode: both;
}

/*classe anim Ecomusée to Mairie*/

.EMToM {
    animation-duration: 10s;
    animation-name: movepersoEtoM;
    animation-fill-mode: both;
}

/*classe anim Ecomusée to Labo*/

.EMToL {
    animation-duration: 10s;
    animation-name: movepersoEtoL;
    animation-fill-mode: both;
}


/*classe anim Ecomusée to Mediatheque*/


.EMToME {
     animation-duration: 10s;
     animation-name: movepersoEtoME;
     animation-fill-mode: both;
 }



/*anim Ecomusée to Maison de l'europe*/
@keyframes movepersoEtoMDE {
0% {
    left: 20.7%;
    top: 43%;
}

10% {
    left: 20.7%;
    top: 47.5%;
}

20% {
    left: 41.5%;
    top: 47.5%;
}

30% {
    left: 41.5%;
    top: 59.2%;
}

40% {
    left: 55.2%;
    top: 59.2%;
}

50% {
    left: 55.2%;
    top: 80.5%;}

60% {
    left: 11.5%;
    top: 80.5%;
}

70% {
    left: 11.5%;
    top: 87.5%;
}

80% {
    left: 4.5%;
    top: 87.5%;
}

100% {
    left: 4.5%;
    top: 82.5%;
}
}

/*anim Ecomusée to Mairie*/
@keyframes movepersoEtoM {
    0% {
        left: 20.7%;
        top: 43%;
    }

    20% {
        left: 20.7%;
        top: 47.5%;
    }

    40% {
        left: 41.5%;
        top: 47.5%;
    }

    60% {
        left: 41.5%;
        top: 30%;
    }

    80% {
        left: 63%;
        top: 29%;
    }

    100% {
        left: 63%;
        top: 25%;
    }
}

/*anim Ecomusée to Labo*/
@keyframes movepersoEtoL {
    0% {
        left: 20.7%;
        top: 43%;
    }

    15% {
        left: 20.7%;
        top: 47.5%;
    }

    30% {
        left: 41.5%;
        top: 47.5%;
    }

    45% {
        left: 41.5%;
        top: 59.2%;
    }
    60% {
        left: 55%;
        top: 59.2%;
    }

    75%{
        left: 55%;
        top: 80%;
    }

    90%{
        left: 62.2%;
        top: 80%;
    }

    100%{
        left: 62.2%;
        top: 73%;
    }
}

/*anim Ecomusée to Mediatheque*/
@keyframes movepersoEtoME {
    0% {
        left: 20.7%;
        top: 43%;
    }

    10% {
        left: 20.7%;
        top: 47.5%;
    }

    20% {
        left: 41.5%;
        top: 47.5%;
    }

    30% {
        left: 41.5%;
        top: 59.2%;
    }

    40% {
        left: 55%;
        top: 59.2%
    }

    50% {
        left: 55%;
        top: 80%;
    }

    60% {
        left: 63%;
        top: 80%;
    }

    70% {
        left: 70%;
        top: 90.5%;
    }

    80% {
        left: 78%;
        top: 90.5%;
    }
    100% {
        left: 78%;
        top: 85.5%;
    }
}




/*partie Maison de l'europe to all*/




    /*anim Maison de l'europe to Labo*/

.MDEToL {
        animation-duration: 10s;
        animation-name: movepersoMDEtoL;
        animation-fill-mode: both;
    }

/*anim Maison de l'europe to Mediatheque*/


.MDEToME {
    animation-duration: 10s;
    animation-name: movepersoMDEtoME;
    animation-fill-mode: both;
}

/*anim Maison de l'europe to Ecomusee*/

.MDEToEM {
    animation-duration: 10s;
    animation-name: movepersoMDEtoEM;
    animation-fill-mode: both;
}

/*anim Maison de l'europe to Mairie*/

.MDEToM{
    animation-duration: 10s;
    animation-name: movepersoMDEtoM;
    animation-fill-mode: both;
}

/*anim Maison de l'europe to Labo*/
@keyframes movepersoMDEtoL {

    0% {
        left: 4.5%;
        top: 82%;
    }


    20% {
        left: 4.5%;
        top: 87%;
    }

    40% {
        left: 11.5%;
        top: 87%;
    }

    60% {
        left: 11.5%;
        top: 80%;
    }

    80% {
        left: 62%;
        top: 80%;
    }

    100% {
        left: 62%;
        top: 75%;
    }

}

/*anim Maison de l'europe to Mediatheque*/
@keyframes movepersoMDEtoME {

    0% {
        left: 4.5%;
        top: 82%;
    }

    15% {
        left: 4.5%;
        top: 87%;
    }

    30% {
        left: 11.5%;
        top: 87%;
    }

    45% {
        left: 11.5%;
        top: 80%;
    }

    60% {
        left: 63.5%;
        top: 80%;
    }

  75% {
      left: 71%;
      top: 91%;
  }

  90% {
      left: 78.3%;
      top: 91%;
  }

  100% {
      left: 78.3%;
      top: 85%;
  }
}

/*anim Maison de l'europe to Ecomusee*/
@keyframes movepersoMDEtoEM {
    0% {
        left: 4.5%;
        top: 82%;
    }

    10% {
        left: 4.5%;
        top: 87%;
    }

    20% {
        left: 11.5%;
        top: 87%;
    }

    30% {
        left: 11.5%;
        top: 80%;
    }

    40% {
        left: 55.3%;
        top: 80%;
    }

    50% {
        left: 55.3%;
        top: 59.3%;
    }

    60% {
        left: 41.5%;
        top: 59.3%;
    }

    70% {
        left: 41.5%;
        top: 48.3%;
    }

    80% {
        left: 21%;
        top: 48.3%;
    }

    100% {
        left: 21%;
        top: 43%;
    }
}

/*anim Maison de l'europe to Mairie*/
@keyframes movepersoMDEtoM {
    0% {
        left: 4.5%;
        top: 82%;
    }

    10% {
        left: 4.5%;
        top: 87%;
    }

    20% {
        left: 11.5%;
        top: 87%;
    }

    30% {
        left: 11.5%;
        top: 80%;
    }

    40% {
        left: 55.3%;
        top: 80%;
    }

    50% {
        left: 55.3%;
        top: 59.3%;
    }

    60% {
        left: 41.5%;
        top: 59.3%;
    }

    70% {
        left: 41.5%;
        top: 30%;
    }

    80% {
        left: 63%;
        top: 30%;
    }

    100% {
        left: 63%;
        top: 25%;
    }
}

/*partie labo to all*/


/*class anim Labo to Mediatheque*/
.LToME {
    animation-duration: 10s;
    animation-name: movepersoLtoME;
    animation-fill-mode: both;
}

/*class anim Labo to Maison de l'europe*/
.LToMDE{
    animation-duration: 10s;
    animation-name: movepersoLtoMDE;
    animation-fill-mode: both;
}

/*class anim Labo to Ecomusée*/
.LToEM{
    animation-duration: 10s;
    animation-name: movepersoLtoEM;
    animation-fill-mode: both;
}

/*class anim Labo to Mairie*/
.LToM{
    animation-duration: 10s;
    animation-name: movepersoLtoM;
    animation-fill-mode: both;
}


/*anim Labo to Mediatheque*/
@keyframes movepersoLtoME {
    0% {
        left: 62%;
        top: 75%;

    }

    25% {
        left: 62%;
        top: 80%;
    }

    50% {
        left: 70%;
        top: 90%;
    }

    75% {
        left: 78%;
        top: 90%;
    }

    100% {
        left: 78%;
        top: 85%;
    }
}


/*anim Labo to Maison de l'europe*/
@keyframes movepersoLtoMDE {
    0% {
        left: 62%;
        top: 75%;

    }

    20% {
        left: 62%;
        top: 80%;

    }

    40% {
        left: 11.5%;
        top: 80%;

    }

    60% {
        left: 11.5%;
        top: 87.2%;
    }

    80% {
        left: 4.3%;
        top: 87.2%;
    }

    100% {
        left: 4.3%;
        top: 82%;
    }
}

/*anim Labo to Ecomusée*/
@keyframes movepersoLtoEM {
    0% {
        left: 62%;
        top: 75%;
    }

    10% {
        left: 62%;
        top: 80%;
    }

    25% {
        left: 55.3%;
        top: 80%;

    }

    35% {
        left: 55.3%;
        top: 59.4%;
    }

    60% {
        left: 41.3%;
        top: 59.4%;
    }

    70% {
        left: 41.3%;
        top: 49%;
    }

    80% {
        left: 20.5%;
        top: 49%;
    }

    100% {
        left: 20.5%;
        top: 43%;
    }
}

/*anim Labo to Mairie*/
@keyframes movepersoLtoM {
    0% {
        left: 62%;
        top: 75%;

    }

    15% {
        left: 62%;
        top: 80%;

    }

    30% {
        left: 55.3%;
        top: 80%;

    }

    45% {
        left: 55.3%;
        top: 59.4%;
    }

    60% {
        left: 41.3%;
        top: 59.4%;
    }

    75% {
        left: 41.3%;
        top: 30.5%;
    }

    90% {
        left: 63.5%;
        top: 30.5%;
    }

    100% {
        left: 63.5%;
        top: 25%;
    }

}




/*Médiathèque to all*/




/*class anim Médiathèque to Labo*/
.LToM{
    animation-duration: 10s;
    animation-name: movepersoMEtoL;
    animation-fill-mode: both;
}

/*class anim Médiathèque to Mairie*/
.METoM{
    animation-duration: 10s;
    animation-name: movepersoMEtoM;
    animation-fill-mode: both;
}

/*class anim Médiathèque to Maison de l'europe*/
.METoMDE{
    animation-duration: 10s;
    animation-name: movepersoMEtoMDE;
    animation-fill-mode: both;
}

/*class anim Médiathèque to Ecomusée*/
.METoEM{
    animation-duration: 10s;
    animation-name: movepersoMEtoEM;
    animation-fill-mode: both;
}


/*anim Médiathèque to Labo*/
@keyframes movepersoMEtoL {
    0% {
        left: 78%;
        top: 85%
    }

    25% {
        left: 78%;
        top: 90%
    }

    50% {
        left: 70%;
        top: 90%

    }

    75% {
        left: 63.5%;
        top:  80%;
    }

    100% {
        left: 63.5%;
        top:  74%;
    }
}


/*anim Médiathèque to Mairie*/
@keyframes movepersoMEtoM {
    0% {
        left: 78%;
        top: 85%
    }

    15% {
        left: 78%;
        top: 90%
    }

    30% {
        left: 89.5%;
        top: 90%
    }

    45% {
        left: 89.5%;
        top: 77%
    }

    60% {
        left: 85%;
        top: 77%
    }

    75% {
        left: 85%;
        top: 31%
    }
    90% {
        left: 63%;
        top: 31%
    }
    100% {
        left: 63%;
        top: 25%
    }
}


/*anim Médiathèque to Maison de l'europe*/
@keyframes movepersoMEtoMDE {
    0% {
        left: 78%;
        top: 85%

    }

    15% {
        left: 78%;
        top: 90%

    }

    30% {
        left: 70%;
        top: 90%
    }

    45% {
        left: 62%;
        top:  80%;
    }

    60% {
        left: 11.5%;
        top:  80%;
    }

    75% {
        left: 11.5%;
        top:  87.5%;
    }
    90% {
        left: 4.5%;
        top:  87.5%;
    }
    100% {
        left: 4.5%;
        top:  82.5%;
    }
}

/*anim Médiathèque to Ecomusée*/
@keyframes movepersoMEtoEM {
    0% {
        left: 78%;
        top: 85%

    }

    10% {
        left: 78%;
        top: 90%

    }

    20% {
        left: 70%;
        top: 90%
    }

    30% {
        left: 62%;
        top:  80%;
    }

    40% {
        left: 55.4%;
        top:  80%;
    }

    50% {
        left: 55.4%;
        top:  59.5%;
    }
    60% {
        left: 41.5%;
        top:  59.5%;
    }

    70% {
        left: 41.5%;
        top:  48.5%;
    }

    80% {
        left: 20.5%;
        top:  48.5%;
    }

    100% {
        left: 20.5%;
        top:  43%;
    }
}



/*Mairie to all*/




/*anim Mairie to Eco-musée*/
.MToEM{
    animation-duration: 10s;
    animation-name: movepersoMtoEM;
    animation-fill-mode: both;
}

/*anim Mairie to Labo*/
.MToL{
    animation-duration: 10s;
    animation-name: movepersoMtoL;
    animation-fill-mode: both;
}

/*anim Mairie to Maison de l'europe*/
.MToMDE{
     animation-duration: 10s;
     animation-name: movepersoMtoMDE;
     animation-fill-mode: both;
 }

/*anim Mairie to Médiathèque*/
.MToME{
    animation-duration: 10s;
    animation-name: movepersoMtoME;
    animation-fill-mode: both;
}


/*anim Mairie to Eco-musée*/
@keyframes movepersoMtoEM {
    0% {
        left: 63%;
        top: 25%

    }

    20% {
        left: 63%;
        top: 30%

    }

    40% {
        left: 41.5%;
        top: 30%
    }

    60% {
        left: 41.5%;
        top: 48.5%
    }

    80% {
        left: 20.5%;
        top: 48.5%
    }

    100% {
        left: 20.5%;
        top: 42%
    }
}

/*anim Mairie to Labo*/
@keyframes movepersoMtoL {
    0% {
        left: 63%;
        top: 25%

    }

    15% {
        left: 63%;
        top: 30%

    }

    30% {
        left: 41.5%;
        top: 30%
    }

    45% {
        left: 41.5%;
        top: 59%
    }

    60% {
        left: 55%;
        top: 59%
    }

    75% {
        left: 55%;
        top: 80%
    }

    90% {
        left: 62.2%;
        top: 80%
    }

    100% {
        left: 62.2%;
        top: 74%
    }
}

/*anim Mairie to Maison de l'europe*/
@keyframes movepersoMtoMDE {
    0% {
        left: 63%;
        top: 25%

    }

    10% {
        left: 63%;
        top: 30%
    }

    20% {
        left: 41.5%;
        top: 30%
    }

    30% {
        left: 41.5%;
        top: 59%
    }

    40% {
        left: 55%;
        top: 59%
    }

    50% {
        left: 55%;
        top: 80%
    }

    60% {
        left: 11.5%;
        top: 80%;
    }

    70% {
        left: 11.5%;
        top: 87.5%;
    }

    80% {
        left: 4.5%;
        top: 87.5%;
    }

    100% {
        left: 4.5%;
        top: 81.7%;
    }
}

/*anim Mairie to Médiathèque*/
@keyframes movepersoMtoME {
    0% {
        left: 63%;
        top: 25%

    }

    15% {
        left: 63%;
        top: 30%

    }

    30% {
        left: 85%;
        top: 30%
    }

    45% {
        left: 85%;
        top: 76.5%
    }

    60% {
        left: 89.5%;
        top: 76.5%
    }

    75% {
        left: 89.5%;
        top: 90.5%
    }

    90% {
        left: 78%;
        top: 90.5%
    }

    100% {
        left: 78%;
        top: 85%
    }
}


.perso_init {
    left: 63%;
    top: 30%;
}

.labo_init {
    left: 62.2%;
    top: 74%
}

.ecomusee_init{
    left: 20.5%;
    top: 42%
}

.mde_init{
    left: 4.5%;
    top: 81.7%;
}

.mediatheque_init{
    left: 78%;
    top: 85%
}

.mairie_init{
    left: 63%;
    top: 25%
}









