.cadre {
    position: absolute;
    height: 14%;
    cursor: pointer;
}

#cadre0 {
    left: 53%;
    top: 14%;
    width: 30%;
    height: 20%;
}

#cadre1 {
    left: 60%;
    top: 68%;
    width: 15%;
}

#cadre2 {
    left: 76%;
    top: 79%;
    width: 10%;

}

#cadre3 {
    left: 17%;
    top: 36%;
    width: 21%;
}

#cadre4 {
    width: 12%;
    left: 1%;
    top: 75%
}

.icone {
    position: relative;
    width: 30px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/icone.png");
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count : infinite;
    z-index: auto;

}

#icone0 {
    left: 65%;
    top: 15%;
}

#icone1 {
    left: 65%;
    top: 60%;
}

#icone2 {
    left: 80%;
    top: 64%;
}

#icone3 {
    left: 25%;
    top: 13%;
}

#icone4 {
    left: 5%;
    top: 46%;
}

.banniere {
    position: relative;
    width: 20%;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;

}

#bann0 {
    top: -32%;
    left: 58%;
    background-image: url("../image/banniere mairie.png");

}

#bann1{
    top: 10.5%;
    left: 59%;
    background-image: url("../image/banniere labo.png");

}

#bann2{
    top: 2%;
    left: 72.5%;
    background-image: url("../image/banniere mediatheque.png");

}

#bann3{
    top: -46%;
    left: 18%;
    background-image: url("../image/banniere Eco-musee.png");

}

#bann4{
    top: -16%;
    left: -2%;
    background-image: url("../image/banniere maison de l'europe.png");

}

