.cadre {
    border: solid;
    position: absolute;
    width: 5%;
    height: 10%;
}

#cadre0 {
    left: 50%;
    top: 37%;
}

#cadre1 {
    left: 49.3%;
    top: 77.5%;
}

#cadre2 {
    left: 59.5%;
    top: 90%;
}

#cadre3 {
    left: 23%;
    top: 54%;
}

#cadre4 {
    left: 12.5%;
    top: 87%;
}

.icone {
    position: relative;
    width: 30px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/icone.png");
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count : infinite;
    z-index: auto;

}

#icone0 {
    left: 65%;
    top: 90px;
}

#icone1 {
    left: 64%;
    top: 380px;
}

#icone2 {
    left: 80%;
    top: 410px;
}

#icone3 {
    left: 23%;
    top: 100px;
}

#icone4 {
    left: 6.5%;
    top: 300px;
}

.banniere {
    position: relative;
    width: 500px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;

}

#bann0 {
    top: -220px;
    left: 580px;
    background-image: url("../image/banniere mairie.png");

}

#bann1{
    top: 35px;
    left: 575px;
    background-image: url("../image/banniere labo.png");

}

#bann2{
    top: 50px;
    left: 735px;
    background-image: url("../image/banniere médiatheque.png");

}

#bann3{
    top: -300px;
    left: 155px;
    background-image: url("../image/banniere Eco-musée.png");

}

#bann4{
    top: -130px;
    left:-4px;
    background-image: url("../image/banniere maison de l'europe.png");

}