.cadre {
    border: solid;
    position: absolute;
    width: 5%;
    height: 10%;
}

#cadre0 {
    left: 52.3%;
    top: 33%;
}

#cadre1 {
    left: 30%;
    top: 45%;
}

#cadre2 {
    left: 51.5%;
    top: 65%;
}

#cadre3 {
    left: 60%;
    top: 75%;
}

#cadre4 {
    left: 21.5%;
    top: 73%;
}

.icone {
    position: relative;
    width: 30px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/icone.png");
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count : infinite;
    z-index: auto;

}

#icone0 {
    left: 56.5%;
    top: 13%;
}

#icone1 {
    left: 19.5%;
    top: 24%;
}

#icone2 {
    left: 55.5%;
    top: 38%;
}

#icone3 {
    left: 69.5%;
    top: 42%;
}

#icone4 {
    left: 5.5%;
    top: 32%;
}

.banniere {
    position: relative;
    width: 500px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;

}

#bann0 {
    top: -240px;
    left: 475px;
    background-image: url("../image/banniere mairie.png");

}

#bann1{
    top: -30px;
    left: 453px;
    background-image: url("../image/banniere labo.png");

}

#bann2{
    top: -33px;
    left: 585px;
    background-image: url("../image/banniere médiatheque.png");

}

#bann3{
    top: -340px;
    left: 107px;
    background-image: url("../image/banniere Eco-musée.png");

}

#bann4{
    top: -215px;
    left:-20px;
    background-image: url("../image/banniere maison de l'europe.png");

}