
body {
    padding: 0;
    margin: 0;
    background: beige;
}

h1 {
    text-align: center;
    color: blueviolet;
    padding-top: 2%;
}

#start {
    margin-top: 150px;
    height: 200px;

}

#quest {
    margin-top: 150px;
    height: 650px;
    color: ghostwhite;

}

.macro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: darkgreen;
}

input {
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
}

#map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

#welcome {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

#corps {
    background-image: url("../image/test_map.png");
    height: 704px;
    width: 1024px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icone {
    position: relative;
    width: 30px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../image/icone.png");
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count : infinite;

}

@keyframes rotation {
    from {
        transform-origin: 50%;
        transform: rotateY(0deg);
    }
    to {
        transform-origin: 50%;
        transform: rotateY(360deg);
    }
}

#icone0 {
    left: 56.5%;
    top: 13%;
}

#icone1 {
    left: 19.5%;
    top: 24%;
}

#icone2 {
    left: 55.5%;
    top: 180px;
}

#icone3 {
    left: 650px;
    top: 200px;
}

#icone4 {
    left: 41px;
    top: 120px;
}
