
body {
    padding: 0;
    margin: 0;
    background: beige;
}

h1 {
    text-align: center;
    color: blueviolet;
    padding-top: 2%;
}

h2 {
    text-align: center;
}

li {
    font-size: 18px;
}


input {
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin-top: 3%;
    position: absolute;
}

#start {
    margin-top: 150px;
    height: 200px;

}

#quest {
    margin-top: 150px;
    height: 800px;
    color: ghostwhite;

}

.macro {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: darkgreen;
}


.first_page {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#second_page {
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}

#maps_elements {
    position: relative;
    background-image: url("../image/map.png");
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#perso {
    position: absolute;
    background-image: url("../image/chevaliere.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    z-index: 2;
}

#dialogue_page{
    position: relative;
    padding-bottom: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1024px;
    height: 704px;
}


@keyframes rotation {
    from {
        transform-origin: 50%;
        transform: rotateY(0deg);
    }
    to {
        transform-origin: 50%;
        transform: rotateY(360deg);
    }
}

.quest_n0:hover {
    transform: scale(1.1);
}

.quest_n1:hover {
    transform: scale(1.1)
}

.quest_n2:hover {
    transform: scale(1.1)
}

#title_story0:hover{
    background-color: ghostwhite;
    color : darkgreen;
    cursor: pointer;
}

#title_story3:hover{
    background-color: ghostwhite;
    color : darkgreen;
    cursor: pointer;
}

#title_story6:hover{
    background-color: ghostwhite;
    color : darkgreen;
    cursor: pointer;
}

#title_story9:hover{
    background-color: ghostwhite;
    color : darkgreen;
    cursor: pointer;
}

#title_story12:hover{
    background-color: ghostwhite;
    color : darkgreen;
    cursor: pointer;
}

.scenario_sum {
    background-color: darkgreen;
    color : white;
}

#map_page {
    display: flex;
    flex-wrap: wrap;
    border: solid ;
    width: 100%;

}

.resume {
    width: 20%;
    background: grey;
    color: ghostwhite;
}


.piece_labo {
    border: 3px solid black;
    position: relative;
    overflow: auto;
    text-align: center;
    background: grey;
    color: ghostwhite;
}

#labo_fablab {
    width: 28%;
    height: 16%;
    display: none;
    top: -6%;
}

#labo_reunion {
    width: 37%;
    height: 16%;
    display: none;
    top: 42%;
    left: 61%;
}


#labo_coworking {
    width: 28%;
    height: 15%;
    display: none;
    top: 17%;
}

#btn_labo {
    width: 10%;
    height: 6%;
    border: 4px outset;
    color: maroon;
    margin-left: 41%;
    margin-top: 20%;
}

#btStart {
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin-top: -1%;
    position: absolute;
}

#bouton_dialogue {
    top: 82%;
    left: 42%;
}

#credits {
    display: none;
}

.nom_credit{
    text-align: center;
}

#ko_co {
    background-image: url("../image/link_koco.gif");
    width: 94%;
    height: 10000%;
    left : 2% ;
    top : 1%;
    position: absolute;
    display: none;
    background-repeat: inherit;
}

#txt_koco {
    display: none;
    height: 10%;
    width: 100%;
    bottom: -9952%;
    position: absolute;
    color : black;
    font-size: 144px;
    text-align: center;
}